<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-certificate"></span> Open Weather Map
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/')}"><a ng-href="/">Home</a></li>
        <li ng-class="{ active: isActive('/cities/Amsterdam')}"><a ng-href="/cities/Amsterdam">Amsterdam</a></li>
        <li ng-class="{ active: isActive('/cities/Berlin')}"><a ng-href="/cities/Berlin">Berlin</a></li>
        <li ng-class="{ active: isActive('/cities/London')}"><a ng-href="/cities/London">London</a></li>
        <li ng-class="{ active: isActive('/cities/Milan')}"><a ng-href="/cities/Milan">Milan</a></li>
        <li ng-class="{ active: isActive('/cities/Paris')}"><a ng-href="/cities/Paris">Paris</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Current date: {{ date | date:'dd-MMM-yyyy' }}</li>
      </ul>
    </div>
  </div>
</nav>
