.hero-parent
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  margin: -71px

.hero-child
    h1
        font-size: 10rem
        font-weight: 800
        color: #4FAAC8
    h2
        font-size: 5rem
        color: #E53A31